<%= form_with(model: location, local:true) do |form| %>
  <% if location.errors.any? %>
      <ul>
      <% location.errors.full_messages.each do |message|%>
        <li style="color: red;"><%= message %></li>
      <% end %>
      </ul>
    
  <% end %>

  <div class= "field">
  <%= form.label :title %><br>
  <%= form.text_field :title, id: :location_title %>
  </div>

  <div class= "field">
  <%= form.label :subtitle %><br>
  <%= form.text_field :subtitle, id: :location_subtitle %>
  </div>

 

  <div class= "field">
  <%= form.label :description %><br>
  <%= form.text_area :description, id: :location_description, size: "70x5" %>
  </div>

   <div class= "field">
  <%= form.label :header_image %><br>
  <%= form.file_field :header_image, id: :location_header_image %>
  </div>

  <div class="action">
  <%= form.submit %>
  </div>
<% end %>