<!DOCTYPE html>
<html>
  <head>
    <title>Morioka - The quiet city by the mountain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'pages', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% unless @hide_header %> <!-- allows the controller to hide this render i use it in the index-->
    <%= render 'shared/heading' %>
    <% end %>
    
    <% unless @hide_poster %>
    <%= render 'shared/poster' %>
    <% end %>

    <% unless @hide_description%>
    <%= render 'shared/description' %>
    <% end %>

    <% unless @hide_articles%>
    <%= render 'shared/article_image_left' %>
    <% end %>

    <% unless @hide_articles%>
    <%= render 'shared/article_image_right' %>
    <% end %>
    
    <% unless @hide_activities%>
    <%= render 'shared/activity_heading'%>
    <% end %>

    <p id="notice" style="color: orange;"><%= notice %></p>
    <%= yield %>
    <%= render 'shared/footer' %>

  </body>
</html>
